.st-emotion-cache-1ru4d5d{
    padding: 1 rem 1 rem 1 rem;
}

[data-testid="stAppViewBlockContainer"]{
    max-width: 60rem;
    padding-top: 2rem;
    padding-bottom: 6rem !important;
}

[data-testid="stBottomBlockContainer"]{
    max-width: 60rem;
    padding-top: 2rem;
}

[data-testid="stSidebar"]{
    max-width: 70vw;
}

[data-testid="stSidebarNavItems"]{
    padding-top: 2rem;
}

[data-testid="stSidebarUserContent"]{
    padding: 2px;
}

.st-emotion-cache-m8hsoe {
    padding-top: 3rem;
}

p:has(> a[href="#top"]) {
    position: fixed;
    bottom: 4.5rem; /* give space above the chat input */
    z-index: 9999;
}

