.st-emotion-cache-1ru4d5d{
    padding: 1 rem 1 rem 1 rem;
}

[data-testid="stAppViewBlockContainer"]{
    max-width: 60rem;
    padding-top: 2rem;
}

[data-testid="stBottomBlockContainer"]{
    max-width: 60rem;
    padding-top: 2rem;
}

.st-emotion-cache-lrlib {
    padding-top: 30px;
}

.st-emotion-cache-m8hsoe {
    padding-top: 3rem;
}