.st-emotion-cache-1ru4d5d{
    padding: 1 rem 1 rem 1 rem;
}


p:has(> a[href="#top"]) {
    position: fixed;
    bottom: 10px;
    z-index: 999;
}


[data-testid="stAppViewBlockContainer"]{
    max-width: 76rem;
    padding-top: 2rem;
}

.st-emotion-cache-lrlib {
    padding-top: 3rem;
}

.st-emotion-cache-m8hsoe {
    padding-top: 3rem;
}